.dataTables_filter > label > input:focus{
    border-bottom: 1px solid #2e7d32 !important;
    box-shadow: 0 1px 0 0 #2e7d32 !important;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background: #2E7D32;
    border: 1px transparent;
    border-radius: 2px;
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: #2E7D32;
    border: 1px transparent;
    border-radius: 2px;
    color: white !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    color: black !important;
    border: none;
    background: transparent;
}

table.dataTable tbody td {
    padding: 15px 10px;
}

.dataTables_wrapper .dataTables_length{
    display: none;
}

.table-action{
    color: #2E7D32;
    cursor: pointer;
}