table, th, td{
    border: 1px solid black;
}

p{
    margin: 0;
}

@media print {
    header nav, footer, .navbar-fixed, .side-nav, .btn-floating{
        display: none !important;
    }

    body * {
        visibility: hidden;
    }
    table, table * {
        visibility: visible;
    }
    table {
        zoom: 50%;
        position: absolute;
        left: 0;
        top: 0;
    }

    @page{
        size: landscape !important;
    }

    button{
        display: none !important;
    }
}