table, th, td{
    border: 1px solid black;
}

.bold{
    font-weight: bold;
}

p{
    margin: 0;
}

@media print {
    header nav, footer, .navbar-fixed, .side-nav, .btn-floating{
        display: none !important;
    }

    body * {
        visibility: hidden;
    }
    .print_stuff, .print_stuff * {
        visibility: visible;
    }
    .print_stuff {
        position: absolute;
        left: 0;
        top: 0;
    }

    @page{
        size: landscape !important;
        margin: 0.5cm;
    }

    button{
        display: none !important;
    }
}